@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Android';
    src: url("fonts/idroid.otf") format('opentype');
}
:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    /* Fonts */
    --font-android: 'Android', sans-serif;
    --font-text: 'Roboto', sans-serif;
    --font-bebas: 'Bebas Neue', cursive;
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
    background-color: var(--cor1);
}

a {
    text-decoration: none;
}

/* ----- header ----- */
header {
    background-image: linear-gradient(180deg, var(--cor2), var(--cor4));
    color: white;
    padding: 0 1em;
}

header h1 {
    font-family: var(--font-bebas);
    font-size: 3.5em;
    text-align: center;
    font-weight: 400;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    padding: 15px 0;
}

header p {
    font-family: var(--font-bebas);
    font-weight: 400;
    font-size: 1.1em;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.466);
    text-align: center;
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline-block;
    padding: 10px 0;
}

.nav-list-item a {
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    margin-right: 15px;
    transition:  0.5s;
}

.nav-list-item a:hover {
    color: var(--cor2);
    transform: 1s;
}

/* ----- main ----- */
main {
    max-width: 800px;
    min-width: 400px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.466);
}

/* ----- article ----- */
article h2, h3 {
    font-family: var(--font-android);
    color: var(--cor5);
    margin-bottom: 20px;
}

article h2 {
    font-size: 2em;
}

article h3 {
    font-size: 1.5em;
    background-image: linear-gradient(90deg, var(--cor0), white);
    padding-left: 10px;
}

article p {
    font-size: 1.09em;
    line-height: 1.5em;
    text-indent: 20px;
    margin: 20px 0;
    text-align: justify;
}

article strong {
    color: var(--cor5);
}

article a {
    font-weight: 700;
    color: var(--cor5);
    transition:  background 0.5s;
}

article a:hover {
    background-color: var(--cor1);
}

article img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* ----- vídeo ----- */

.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* -----aside ----- */

aside {
    background-color: var(--cor0);
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.466);
}

aside h3 {
    font-family: var(--font-text);
    font-size: 1.3em;
    font-weight: 700;
    background-image: none;
    background-color: var(--cor4);
    color: white;
    margin: 0 -20px;
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
}

aside .aside-list {
    list-style: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    margin-left: 10%;
    font-family: var(--font-bebas);
    font-size: 1.2em;
    font-weight: 400;
}

aside .aside-list-item {
    margin: 5px 0;
}

/* ----- footer ---- */ 
footer {
    background-color: var(--cor5);
    color: var(--cor0);
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
}

footer a {
    color: white;
    font-weight: 700;
    transition: background 1s;
}

footer a:hover {
    background-color: var(--cor2);
}